@mixin bar-animation($type) {
  animation: $type 500ms 0s;
  animation-fill-mode: forwards;
}

@keyframes topbar-x {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }
  45% {
    top: 6px;
    transform: rotate(145deg);
  }
  75% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes topbar-back {
  0% {
    top: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    top: 0px;
    transform: rotate(0);
  }
}

@keyframes bottombar-x {
  0% {
    bottom: 0px;
    transform: rotate(0deg);
  }
  45% {
    bottom: 6px;
    transform: rotate(-145deg);
  }
  75% {
    transform: rotate(-130deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes bottombar-back {
  0% {
    bottom: 6px;
    transform: rotate(-135deg);
  }
  45% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    bottom: 0px;
    transform: rotate(0);
  }
}

.navbar {
  .navbar-translate {
    display: flex;
    justify-content: inherit;
    transform: translateX(0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);

    @media (max-width: 991.98px) {
      width: 100%;
    }

    .navbar-brand {
      font-weight: 500;
      font-size: 1.25em;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;

      .nav-logo {
        height: 3em;

        @media (max-width: 991.98px) {
          float: left;
          margin-top: 0.3125em;
        }
      }
    }

    .navbar-toggler {
      border: none;
      outline: none;
    }
  }

  .nav-link {
    font-size: 1.125em;
    outline: none;
  }

  &:not([class*='bg']) {
    .navbar-toggler {
      .navbar-toggler-bar {
        background: #66615b !important;
      }
    }
  }

  &.navbar-dark {
    .navbar-toggler {
      .navbar-toggler-bar {
        background: #fff !important;
      }
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background: rgba(#000303, 0.7);

      @supports (backdrop-filter: blur(24px)) {
        background: rgba(#000303, 0.3);
        backdrop-filter: blur(24px);
        @media (max-width: 991.98px) {
          backdrop-filter: blur(6px);
        }
      }
    }
  }

  &:not(.navbar-dark) {
    .navbar-toggler {
      .navbar-toggler-bar {
        background: #000 !important;
      }
    }
  }

  .navbar-toggler .navbar-toggler-bar + .navbar-toggler-bar {
    margin-top: 4px;
  }

  .navbar-toggler {
    .navbar-toggler-bar {
      background: #fff !important;
      display: block;
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 1px;
      margin: 0 auto;
    }
  }
}

.bar1,
.bar2,
.bar3 {
  outline: 1px solid transparent;
}

.bar1 {
  top: 0px;
  @include bar-animation(topbar-back);
}
.bar2 {
  opacity: 1;
}
.bar3 {
  bottom: 0px;
  @include bar-animation(bottombar-back);
}

button:not(.collapsed) {
  .bar1 {
    top: 6px;
    @include bar-animation(topbar-x);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    bottom: 6px;
    @include bar-animation(bottombar-x);
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.4s ease;
    display: block;
    opacity: 0.8;
    padding-left: 1em;
    padding-top: 1.25em;
    height: 100vh;
    background: rgba(#000606, 1);

    &.collapsing {
      right: -100%;
      margin-right: 1px;
      transition: all 0.2s ease;
      opacity: 0.9;
    }

    &.show {
      margin-right: 100%;
      transition: margin-right 0.2s ease;
      opacity: 1;
    }
  }
}

.navbar {
  transition: all 0.6s;
  border-bottom: none;

  font-weight: 400;

  &:not(.navbar-dark) {
    padding-top: 0 !important;
    padding-bottom: 0.4em !important;

    .navbar-brand {
      color: rgba(#323b3c, 0.9);

      &:hover {
        color: #323b3c;
      }
    }

    .nav-link {
      color: rgba(#fff, 0.6);

      &:hover {
        color: rgba(#fff, 0.8);
      }

      &.active {
        color: #fff;
      }
    }

    @media (min-width: 992px) {
      .nav-link {
        color: rgba(#323b3c, 0.6) !important;

        &:hover {
          color: rgba(#323b3c, 0.8) !important;
        }

        &.active {
          color: #323b3c !important;
        }
      }
    }
  }

  &.navbar-dark {
    .navbar-brand {
      color: rgba(#fff, 0.9);

      &:hover {
        color: #fff;
      }
    }

    .nav-link {
      color: rgba(#fff, 0.6) !important;

      &:hover {
        color: rgba(#fff, 0.8) !important;
      }

      &.active {
        color: #fff !important;
      }
    }
  }

  @media (max-width: 991.98px) {
    .nav-link {
      padding-bottom: 0.7em;
    }
    .navbar-nav {
      padding-top: 2em;
      padding-left: 2em;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.navbar-nav {
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.8em;

  @media (min-width: 992px) {
    text-align: center;

    * {
      box-sizing: border-box;
      transition: all 0.2s ease;
    }

    li {
      display: inline-block;
      list-style: outside none none;
      margin: 0;
      padding: 0 0.4em;
      cursor: pointer;
    }

    a {
      padding: 0.5em 0.8em;
      margin: 0.2em 0;
      display: block;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      text-decoration: none;

      &:before,
      &:after {
        height: 14px;
        width: 14px;
        position: absolute;
        content: '';
        transition: all 0.2s ease 0.3s;
        opacity: 0;
      }

      &:before {
        left: 0;
        top: 0;
        border-left: 3px solid #04b4cb;
        border-top: 3px solid #04b4cb;
        transform: translate(100%, 50%);
      }

      &:after {
        right: 0;
        bottom: 0;
        border-right: 3px solid #0a7fa0;
        border-bottom: 3px solid #0a7fa0;
        transform: translate(-100%, -50%);
      }

      &:hover,
      &.active {
        color: #ffffff;
      }

      &.active:before,
      &.active:after {
        transform: translate(0%, 0%);
        opacity: 1;
      }
    }
  }
}
