@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,200&display=swap');

.main {
  background-color: #000303;
  margin-top: -50px;
}

.display-0 {
  $inx: 0.7em;
  color: #fff !important;

  font-size: calc(5em + #{$inx});
  font-weight: 300;

  @media (max-width: 575.98px) {
    font-size: calc(1.475em + 2.7vw + #{$inx});
  }

  @media (max-width: 767.98px) {
    font-size: calc(1.525em + 3.3vw + #{$inx});
  }

  @media (max-width: 991.98px) {
    font-size: calc(1.575em + 3.9vw + #{$inx});
  }

  @media (max-width: 1199.98px) {
    font-size: calc(1.625em + 4.5vw + #{$inx});
  }
}

.team {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-family: 'JetBrains Mono', monospace;
  justify-content: center;
  text-align: center;
  width: auto;
}

.team-member:focus,
.team-member:hover {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transform: translate(0, -20px);
}

.team .team-member {
  background: #0e1213;
  line-height: 20px;
  margin: 5px;
  margin-bottom: 50px;
  padding: 20px;
  position: relative;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  width: 300px;
}

.team .team-member h3 {
  font-size: 20px;
  margin-top: 50px;
  text-transform: uppercase;
}

.team .team-member a:link,
.team .team-member a:visited,
.team .team-member a:active {
  color: #fff;
  text-decoration: none;
}

.team .team-member a:hover {
  color: #818180;
  text-decoration: none;
}

.team .team-member p.role {
  font-size: 10px;
  margin: 12px 0;
}

.team .team-member .team-img {
  background: #fff;
  border-radius: 50%;
  height: 100px;
  left: 50%;
  position: absolute;
  top: -50px;
  transform: translateX(-50%);
  width: 100px;
}
