.title-brand {
  &.bg {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) -10%,
        rgba(0, 0, 0, 0) 55%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('../images/bg.webp') no-repeat center center;
    background-size: cover;

    .jumbotron {
      margin-top: 6em;

      @media (max-width: 321.98px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .display-0 {

    $inx: 0.7em;

    font-size: calc(5em + #{$inx});
    font-weight: 400;
    line-height: 1;

    + .lead {
      font-size: calc(1em + #{$inx});
    }

    @media (max-width: 575.98px) {
      font-size: calc(1.475em + 2.7vw + #{$inx});
    }

    @media (max-width: 767.98px) {
      font-size: calc(1.525em + 3.3vw + #{$inx});
    }

    @media (max-width: 991.98px) {
      font-size: calc(1.575em + 3.9vw + #{$inx});
    }

    @media (max-width: 1199.98px) {
      font-size: calc(1.625em + 4.5vw + #{$inx});
    }
  }

  @media (min-width: 992px) {
    h1 + h2 {
      max-width: 70%;
      opacity: 0.8;
    }
  }

  .btn:focus {
    &,
    &:active {
      box-shadow: none !important;
    }
  }

  .btn-outline-light-x {
    border-color: #f8f9fa;
    color: #f8f9fa;
    transition: all 500ms ease-in-out;

    &:not(:hover):not(:focus):not(:active) {
      background-color: rgba(0, 0, 0, 0.5);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        color: #212529;
      }
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    }

    &:active {
      background-color: #f8f9fa;
      border-color: #f8f9fa;
      color: #212529;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
      }
    }
  }
}
